Check for fragment values in the runtime redirect_url

[This issue is imported from pivotal - Originaly created at Nov 23, 2022 by Okke Harsta](https://www.pivotaltracker.com/story/show/183873492)

Spec dictates: 
```
The redirection endpoint URI MUST be an absolute URI as defined by
   [RFC3986] Section 4.3.  The endpoint URI MAY include an
   "application/x-www-form-urlencoded" formatted (per Appendix B) query
   component ([RFC3986] Section 3.4), which MUST be retained when adding
   additional query parameters.  The endpoint URI MUST NOT include a
   fragment component.
```